
# root
/changelog.txt
/install.txt
/*.bmp
/*.bat
/*.msg
/unins000.*
/wampmanager.*

# root directory
/www
/tmp
/scripts
/node_modules
/lang
/files
/cgi-bin
/alias
/apps
/logs

# Apache
/bin/apache/modules_sup
/bin/apache/*/bin
/bin/apache/*/cgi-bin
/bin/apache/*/error
/bin/apache/*/htdocs
/bin/apache/*/icons
/bin/apache/*/include
/bin/apache/*/lib
/bin/apache/*/logs
/bin/apache/*/manual
/bin/apache/*/modules
/bin/apache/*/*.*

# Apache conf
/bin/apache/*/conf/original
/bin/apache/*/conf/charset.conv
/bin/apache/*/conf/magic
/bin/apache/*/conf/mime.types
/bin/apache/*/conf/openssl.cnf

# MySQL
/bin/mysql/*/bin
/bin/mysql/*/data
/bin/mysql/*/docs
/bin/mysql/*/include
/bin/mysql/*/lib
/bin/mysql/*/mysql-test
/bin/mysql/*/scripts
/bin/mysql/*/share
/bin/mysql/*/sql-bench

/bin/mysql/*/LICENSE
/bin/mysql/*/my-default.ini
/bin/mysql/*/README
/bin/mysql/*/wampserver.conf

# PHP
/bin/php/DO_NOT_DELETE*.*

/bin/php/*/dev
/bin/php/*/ext
/bin/php/*/extras
/bin/php/*/lib
/bin/php/*/sasl2
/bin/php/*/zend_ext

/bin/php/*/*.dll
/bin/php/*/*.exe
/bin/php/*/*.lib
/bin/php/*/*.txt
/bin/php/*/*.bat
/bin/php/*/*.phar
/bin/php/*/README.*
/bin/php/*/wampserver.*



